<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">Versandadresse</p>
        <p>{{ checkoutData.firstName }} {{ checkoutData.lastName }}</p>
        <p>{{ checkoutData.address }}</p>
        <p>{{ checkoutData.email }}</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">Zahlungsinformationen</p>
        <p>{{ checkoutData.accountOwner }}</p>
        <p>{{ checkoutData.iban }}</p>
        <p>{{ checkoutData.bic }}</p>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">Produkte</p>
        <ul class="columns ">
          <li class="column is-half" *ngFor="let product of this.productList">
            <products-teaser [product]="product"></products-teaser>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
