.products {
  width: 100%;
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none
    }
  }
  &-pager {
    margin: 1em 0;
    nav {
      justify-content: center;

      button {
        cursor: pointer;
        margin: 0 1em;
      }
    }
  }
}

    
